/*
Theme Name: Betheme Child
Theme URI: https://themes.muffingroup.com/betheme
Author: Muffin group
Author URI: https://muffingroup.com
Description: Child Theme for Betheme
Template: betheme
Version: 1.6.2
*/

.circle-img img {
    border-radius: 500px!important;
    width: 70%;
    margin: 0 auto;
    display: block;
}

.carrosel-cozinha img {
    border-radius: 380px;
    width: 350px;
    margin: 0 auto;
    display: block;
}

.white-color * {
    color: #fff;
}

.carrosel-cozinha a.vc_carousel-control {
    color: #fff!important;
    opacity:1!important;
}



.carrosel-cozinha ol.vc_carousel-indicators li.vc_active {
    background-color: #fff!important;
}

.carrosel-jantar img {
    border-radius: 380px;
    width: 350px;
    margin: 0 auto;
    display: block;
}

.cont-cardapios .wpb_wrapper > div {
    margin: 0;
}

.cont-cardapios .vc_column-inner {
    padding-top: 0!important;
}

.widgets_wrapper ul#menu-menu-footer {
    background-color: unset!important;
}

.widgets_wrapper ul#menu-menu-footer a {
    padding: 0px 0px!important;
    color: #000;
    font-weight: 300;
    text-transform: capitalize;
}

.middle-align > div {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 769px) {
    .deskonly{
        display: none!important;
    }

    .HSystemBox {
        display: block!important;
        width: 100%!important;
    }
    
    .HSystemBox > label, .HSystemBox > input.book {
        width: 100%!important;
    }

    .order1{
        order: 1;
    }
    
    .order2{
        order: 2;
    }

    .order3{
        order: 3;
    }
    
    .order4{
        order: 4;
    }

    .order5{
        order: 5;
    }
    
    .order6{
        order: 6;
    }

    .title-package,
    .post-title{
      padding: 10px 0;
    }

    .post-title {
      line-height: 60px;
    }

    
    
}

html{
    scroll-behavior: smooth;
}

/* Template Pacote */
.thumbnail-package {
  position: relative;
}

.badge {
  position: absolute;
  left: 8px;
  top: 8px;
  font-weight: bold;
  padding: 0px 15px;
  border-radius: 10px;
}

.thumbnail-package > img {
    width: 100%;
    height: 220px !important;
    object-fit: cover;
    border-radius: 10px;
}

.posts-area {
  display: flex;
  flex-wrap: wrap;
}

.title-package {
text-align: center;
font-size: 20px;
margin: 0;
}

.date-zone-package > h4 {
font-size: 14px;
text-align: center;
color: #000;
}


.prices {
  display: flex;
  width: 100%;
}

.room-standart,
.room-superior,
.room-master{
  width: 33.333%;
  text-align: center;
  color: #000;
  font-weight: 400;
}

.room-standart p, .room-superior p, .room-master p {
  font-weight: bold;
}

.feature {
  color: #000;
}
.feature i {
  color: #9cba5b;
}
.optional-description p {
  margin: 0px;
}
.optional-description {
  text-align: center;
  color: #000;
  font-weight: 400;
  padding-bottom: 10px;
}
.cta-button {
    background-color: #7d9940;
    color: #e8eccf;
    font-weight: 600;
    border: 2px solid #e8eccf !important;
    width: 100%;
    font-size: 16px;
    border-radius: 8px !important;
}

.cta-button:hover {
  background-color: #7d9940;
  color: #e8eccf;
  border: 2px solid #e8eccf !important;
}

.path-package {
  text-decoration: none !important;
}

.package-card {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.58); 
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

.content {
  padding: 0px 16px 16px 16px;
}
.cta-button {
  margin: 0;
}

.warning {
  text-align: center;
  color: #000;
  font-size: 10px;
  margin-top: -11px;
}

.img-center {
  margin: 0 auto;
  display: block;
}

.title-type {
  text-align: center;
  margin-bottom: 36px;
}

.old-price {
  margin: 0;
  font-weight: 100 !important;
  font-size: 10px;
}

/* Template Post Interno Pacote */

